@using eProject3.Models.Entities
@model List<eProject3.Controllers.AdminController.UserRoleViewModel>
@{
    int index = 1;
}

<link rel="stylesheet" href="~/css/Users.css">
<link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">

<div class="mainHead">
    <div class="tilteLeft">
        <h1>User</h1>
        <p style="color: gray; padding-left: 5px;">Version 2.0</p>
    </div>
    <div class="tilteRight">
        <span>Home ></span>
        <span style="padding-left: 4px;">User</span>
    </div>
</div>
<div class="mainContent">
    <div class="container">
        <table id="example" class="display" style="width:100%">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>Address</th>
                    <th>Phone</th>
                    <th>Role</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@index</td>
                        <td>@item.FirstName</td>
                        <td>@item.LastName</td>
                        <td>@item.Email</td>
                        <td>@item.Address</td>
                        <td>@item.PhoneNumber</td>
                        <td>@item.Roles</td>
                    </tr>
                    index++;
                }
            </tbody>
            <tfoot>
                <tr>
                    <th>Id</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>Address</th>
                    <th>Phone</th>
                </tr>
            </tfoot>
        </table>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
<script>
    $(document).ready(function () {
        $('#example').DataTable({
            "columnDefs": [
                { "width": "5%", "targets": 0 },
                { "width": "20%", "targets": 1 },
                { "width": "20%", "targets": 2 },
                { "width": "20%", "targets": 3 },
                { "width": "15%", "targets": 4 },
                { "width": "15%", "targets": 5 },
                { "width": "5%", "targets": 6 },

            ],
            "paging": true,
            "ordering": true,
            "info": true
        });
    });
</script>